.resume-container {

  margin: 50px auto;
  padding: 50px;
  border: solid 1px #eee;
  max-width: 1000px;

  h1, h2, h3, h4, h5, h6 {
    letter-spacing: 2px;
  }

  /* Viewing Resume */

  .section-title {
    font-weight: bold;
    text-transform: uppercase;
  }

  .resume-section {

    .timerange {
      line-height: 1.35rem;
      font-style: italic;
      color: #999;
    }

    .inline-form.form-group {
      position: relative;
    }

    .fullName {
      font-weight: 600;
    }

    position: relative;
    margin-bottom: 40px;

    .section-title {
      color: #aaa;
      margin-bottom: 16px;
      font-size: 1.2rem;
    }

    &.general-details {
      line-height: 1.35em;
      .jobTitle {
        font-weight: 500;
      }
      .aboutYou {
        font-weight: 300;
      }
    }

    &.work-experience {
      .companyName {
        display: inline-block;
        margin-right: 20px;
        font-weight: 800;
        line-height: 1.35rem;
      }
      .jobTitle {
        font-weight: 500;
        line-height: 1.35rem;
      }
      .companyWebsite {
        display: inline-block;
        color: #aaa;
        font-style: italic;
        line-height: 1.35rem;
      }
      .timerange {
        position: absolute;
        top: 0; right: 0;
      }
      .summary {
        font-weight: 300;
        margin: 8px 0;
      }
      .bullets {
        font-weight: 300;
        line-height: 1.4rem;
      }
    }

    &.education {
      .school {
        font-weight: 800;
        line-height: 1.35rem;
      }
      .degree {
        display: inline-block;
        font-weight: 500;
        line-height: 1.35rem;
        margin-right: 8px;
      }
      .major {
        display: inline-block;
        color: #aaa;
        line-height: 1.35rem;
      }
      .timerange {
        position: absolute;
        top: 0; right: 0;
      }
      .summary {
        font-weight: 300;
        margin: 8px 0;
      }
      .bullets {
        font-weight: 300;
        line-height: 1.4rem;
      }
    }

    &.skills {
      ul.bullets {
        list-style: none;
        margin: 0; padding: 0;
        li {
          display: inline-block;
          background-color: #eee;
          padding: 2px 12px;
          margin-right: 8px;
          border-radius: 3px;
          font-size: 0.9rem;
          font-weight: 500;
          color: #555;
        }
      }
    }
  }




  /* Editing Resume */

  &.edit-mode {

    .resume-section {
      position: relative;
      .add-section {
        display: none;
        position: absolute;
        left: -200px;
        bottom: -20px;
        svg {
          vertical-align: middle;
          margin-top: -3px;
          margin-left: 10px;
        }
      }

      &:hover .add-section {
        display: inline-block;
      }
    }

    .inline-form {
      position: relative;
      border: solid 1px transparent;

      .form-group {
        margin-bottom: 0.6rem;
      }

      // TODO: move these to the top
      $edit-area-hover-margin: 6px;
      $click-to-edit-height: 23px;

      .click-to-edit {
        position: absolute;
        bottom: -$click-to-edit-height;
        left: -1px;
        background-color: #aaa;
        color: #fff;
        display: none;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        line-height: 22px;
        font-size: 0.8rem;
        letter-spacing: 1.2px;
        padding: 0 10px;
      }

      .actions button[type="button"] {
        margin-right: 0.6rem;
      }

      &:hover {
        border-color: #aaa;
        padding: $edit-area-hover-margin;
        margin: (-$edit-area-hover-margin) (-$edit-area-hover-margin) ($click-to-edit-height + $edit-area-hover-margin) (-$edit-area-hover-margin);

        .click-to-edit {
          display: inline-block;
        }

        .timerange {
          top: $edit-area-hover-margin;
          right: $edit-area-hover-margin;
        }
      }

      &.edit-mode {
        &:hover {
          border-color: transparent;
          .click-to-edit {
            display: none;
          }
        }
      }

    }

  }

}