#resume-container {

  /* Viewing Resume */

  .section-title {
    font-weight: bold;
  }

  /* Resume Edit Form */

  .inline-form {
    position: relative;
    border: solid 1px transparent;

    &:hover {
      border-color: #aaa;
    }

  }

}